@import "grids";
@import url('https://static.zeoseven.com/zsft/52/main/result.css');
$font-yahei: Arial, Helvetica, \5FAE\8EDF\6B63\9ED1\9AD4, sans-serif;
$font-ming: Arial, Helvetica, \7EC6\660E\4F53, sans-serif;
$img-path: "/images";

.inner {
    width: span(14 of 14);
    max-width: 1580px;
    margin: 0 auto;
    lost-utility: clearfix;
    padding: 0 span(0.3);
    position: relative;
}

.header {
    height: 100px;
    display: flex;
    align-items: center;

    .inner {
        display: flex;
    }

    .logo {
        color: #000;
        font-family: Lingui-ProRegular;
        font-size: 18px;
        flex: 0 0 50px;
    }

    &.fixNav {
        position: fixed;
        height: 70px;
        width: 100%;
        z-index: 10;
        backdrop-filter: blur(10px);
    }

    ul {
        margin-left: span(1);
        flex: 0 0 550px;

        li {
            lost-column: 1/4 4 50px;
        }

        a {
            font-family: Lingui-ProRegular;
            color: #fff;
            text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
            transition: all 300ms ease-in-out;
            white-space: nowrap;

            &.active,
            &:hover {
                color: var(--title--color);
                text-shadow: none;
            }
        }
    }
}

.banner {
    padding: 4% 0;

    .appIcn {
        margin: 20px 0 0 span(0.2);
    }

    h2 {
        color: var(--white--font--color);
        text-shadow: 0px 10px 16px rgba(0, 0, 0, 0.14);
        font-size: 158px;
        position: absolute;
        left: 0;
        z-index: 2;
        text-align: center;
        width: 100%;
        line-height: 1.2em;
        pointer-events: none;

        p {
            padding-left: 18px;
            font-size: 23px;
            color: #fff;
            margin-top: 20px;
            font-weight: 500;
            color: var(--font--color);
            line-height: normal;
        }
    }
}


dl {
    h3 {
        &.title {
            line-height: 1.3em;
            font-size: 70px;
            color: var(--title--color);
            text-shadow: 0px 10px 16px rgba(0, 0, 0, 0.24);
        }

        &.whiteTitle {
            font-size: 70px;
            text-align: center;
            color: var(--white--font--color);
            text-shadow: 0px 10px 16px rgba(0, 0, 0, 0.24);
        }
    }

    p.info {
        font-family: "jf-openhuninn-2.0";
        font-weight: normal;
        font-size: 22px;
        line-height: 1.5em;
        color: #b6a0ce;

        &--font--color {
            color: var(--font--color);
            text-align: center;
        }
    }

    h4.info {
        font-weight: normal;
        color: var(--font--color);
        line-height: 1.8em;
        margin: 22px 0 38px 0;
        font-size: 18px;
    }

    dd {
        &.ddBg {
            background: url(#{$img-path}/ddBg.png) no-repeat center 100px/ cover;
            padding: 3% 0;

        }

        .inner {
            display: flex;
            align-items: center;

        }

        .gameIcn {
            bottom: 0;
            position: absolute;
        }

        .people {
            position: relative;
            z-index: 1;
            width: 390px;
        }

        &.row1,
        &.row3 {
            .right {
                width: span(6.5 of 14);
                position: relative;
                margin-left: auto;

                .gameIcn {
                    right: 0;
                }
            }

            .left {
                width: span(5 of 14);
                margin-left: span(0.5);
            }
        }

        &.row2 {
            margin-top: 4%;

            .inner {
                justify-content: space-between;
            }

            .left {
                width: span(6.5 of 14);
                margin-right: auto;
                position: relative;
            }

            .right {
                width: span(5 of 14);
                margin-right: span(0.5);
            }

            .people {
                width: 467px;
                left: span(6);
            }

            .gameIcn {
                left: 0;
                z-index: 0;
            }

        }
    }
}

footer {
    &.footer {
        background: #1b262d;
        color: #fff;
        padding: 5% 0;
        font-family: "jf-openhuninn-2.0";
    }

    .inner {
        display: flex;
        flex-wrap: wrap;
    }

    .h5 {
        width: 100%;
        margin-top: 40px;
        font-weight: normal;
        font-size: 16px;
        color: #5b6b75;
    }

    .column {
        width: span(3.5 of 14);
        margin-right: span(0.8);

        h2 {
            font-family: baloo;
            position: relative;
            padding-bottom: 16px;
            margin-bottom: 28px;
            font-weight: normal;

            &::before {
                content: '';
                height: 2px;
                width: 20px;
                background: #fff;
                position: absolute;
                bottom: 0;
            }
        }



        ul {
            li {
                line-height: 1.6em;
            }
        }
    }
}